[Unit]
Description=Mount unit for google-cloud-sdk, revision 97
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/google-cloud-sdk_97.snap
Where=/snap/google-cloud-sdk/97
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
