[Unit]
Description=Mount unit for core, revision 7396
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_7396.snap
Where=/snap/core/7396
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
